.editor {
    flex: auto;
    height: 0;
    overflow-y: scroll;
}
.tab_groups {
    background-color: #aaa;
}
.tab {
    padding: 0 5px;
    background-color:#ccc;
}
.tab_active {
    padding: 0 5px;
    background-color: #fff;
}

.editor > code > div > h5,
.editor > code > div > var {
    margin-left: 10px;
}

.editor > code > div > var {
    display: inline-block;
    padding: 5px;
    border-top: 1px solid #efefef;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 5px;
}
.editor > code > div > var:hover {
    cursor: default;
    background-color: #e1dfdd;
}

.editor > code {
    --AsideLeft: -15px;

    position: relative;
    display: block;
    border-left: 1px solid #aaa;
    margin-left: 60px;
    margin-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 13px;
    color: #333;
    min-height: calc(100% - 1px);
}
.editor > code > main:empty {
    height: 100px;
    border: 1px dashed #999;
    position: relative;
}
.editor > code > main:empty::after {
    content: "拖拽到此处";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.editor > code > main small {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
}
.editor > code > main small div {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

.editor > code > main aside {
    position: absolute;
    left: var(--AsideLeft);
    line-height: 21px;
}

.editor > code > main > article,
.editor samp > article,
.editor hgroup,
.editor samp {
    padding: 4px 0 4px 10px;
}

.editor > code > main > article > ul,
.editor samp > article > ul {
    display: flex;
    padding: 5px;
    overflow: auto;
    align-items: center;
    border-top: 1px solid #efefef;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    background-color: #fff;
}
.editor > code > main > article > ul:hover,
.editor samp > article > ul:hover {
    background-color: #efefef;
}
.editor > code > main > article.chosen > ul,
.editor samp > article.chosen > ul,
.editor > code > div > var.chosen {
    background-color: #f3f2f1;
}
.editor > code > main > article.chosen > ul:hover,
.editor samp > article.chosen > ul:hover,
.editor > code > div > var.chosen:hover {
    background-color: #e1dfdd;
}
.editor > code > main > article > ul > li:nth-child(2),
.editor samp > article > ul > li:nth-child(2) {
    flex: auto;
}

.editor article > ul > li > p {
    color: #666;
}
.editor > code > div > var > dfn,
.editor article > ul > li> p var {
    color: #646cff;
}
.editor > code > div > var > dfn.error {
    color: red;
}
.editor article > ul > li > p > var {
    margin: 0 5px;
}
.editor article > ul > li > p > var:first-child {
    margin-left: 0;
}
.editor article > ul > li > p > var:last-child {
    margin-right: 0;
}
.editor article > ul > li > p > var.error {
    color: red;
}
.editor article > ul > li > p > mark {
    background-color: initial;
    margin: 0 5px;
    font-family: 黑体;
}
.editor article > ul > li > p > mark:first-child {
    margin-left: 0;
}
.editor article > ul > li > p > mark:last-child {
    margin-right: 0;
}

.editor ul > li {
    margin: 0 5px;
}

.editor hgroup > nav > section > article > ul,
.editor hgroup > section > article > ul,
.editor hgroup > article > ul {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background-color: #dbe9ff;
}
.editor section > article > ul h4,
.editor section > article > ul p {
    display: inline-block;
}
.editor hgroup section > samp {
    display: block;
    border-left: 4px solid #dbe9ff;
}

.editor hgroup section > article > ul {
    border-radius: 0 5px 5px 0;
}
.editor hgroup > section:first-child > article >ul {
    border-radius: 5px 5px 5px 0;
}
.editor hgroup > article:last-child > ul {
    border-radius: 0 5px 5px 5px;
}
.editor hgroup section > article > ul p {
    margin-left: 5px;
}
.editor i, var {
    font-style: normal;
}