.tab-label {
    background-color: #aaa;
}
.tab-label label {
    display: inline-block;
    padding: 0 5px;
    background-color: #ccc;
}
.tab-label label.active {
    color: inherit;
    background-color: #fff;
}

.tab-content {
    overflow-y: auto;
    height: calc(100% - 21px);
}