.studio>.other>.left .group {
    font-size: 14px;
}
.studio>.other>.left i.font {
    margin: 0 5px;
}

.studio>.other>.left .group>.branch {
    padding: 5px 0 5px 10px;
    cursor: default;
}
.studio>.other>.left .group>.branch:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.studio>.other>.left .group>.list {
    display: none;
}
.studio>.other>.left .group.expand>.list {
    display: block;
}
.studio>.other>.left .leaf {
    padding: 5px 0 5px 30px;
}
.studio>.other>.left .leaf:hover {
    background-color: rgba(0, 0, 0, 0.05);
}