body {
    padding: 0;
    margin: 0;
}

h4, p {
    margin: 0;
}
i, var {
    font-style: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu {
    display: none;
    position: fixed;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
}
ul.menu.active {
    display: block;
}
ul.menu>li {
    padding: 8px 18px;
    font-size: 13px;
    cursor: default;
}
ul.menu>li:hover {
    background-color: #efefef;
}