.studio>.other .property label {
    display: flex;
    margin: 10px;
}
.studio>.other .property label>span {
    display: block;
    width: 100px;
    font-size: 14px;
}
.studio>.other .property label>.content {
    flex: auto;
}
.studio>.other .property label>.content>input {
    width: calc(100% - 10px);
    height: 20px;
}