.studio {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.studio>.top {
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid #aaa;
}

.studio>.other {
    flex: auto;
    display: flex;
    height: 0;
}

.studio>.other>.left {
    width: 200px;
    border-right: 1px solid #aaa;
}

.studio>.other>.center {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.studio>.other>.center>.workspace {
    flex: auto;
    height: 0;
    overflow-y: scroll;
}

.studio>.other>.center>.bottom {
    height: 100px;
    border-top: 1px solid #aaa;
}

.studio>.other>.right {
    width: 300px;
    border-left: 1px solid #aaa;
}

.studio>.top>.menu {
    margin: 10px 5px;
    padding: 5px 10px;
}
.studio>.top>.menu:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}
.studio>.top>.menu i {
    font-size: 28px;
}
.studio>.top>.menu span {
    margin-top: 2px;
    font-size: 14px;
}
.studio>.top>.menu i,
.studio>.top>.menu span {
    display: block;
    text-align: center;
    color: #333;
}