.editor {
    --AsideLeft: -15px;

    position: relative;
    border-left: 1px solid #aaa;
    margin-left: 30px;
    margin-right: 5px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 13px;
    color: #333;
    min-height: calc(100% - 2px);
}

.editor aside {
    position: absolute;
    left: var(--AsideLeft);
    line-height: 21px;
}

.editor #drop_line {
    position: absolute;
    left: 0;
    width: 100%;
}

.editor #drop_line div {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 2px;
    background-color: rgba(0,0,0,0.6);
}

.editor article.item,
.editor .container,
.editor main {
    padding: 4px 0 4px 10px;
}

.editor i.iconfont {
    font-size: 20px;
    vertical-align: bottom;
}

.editor ul>li:first-child {
    margin: 0 5px;
}

.editor ul>li:nth-child(2) {
    margin: 0 5px;
}

.editor article.item>ul {
    display: flex;
    padding: 5px;
    overflow: auto;
    align-items: center;
    border-top: 1px solid #efefef;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    background-color: #fff;
}

.editor article.item>ul:hover {
    background-color: #efefef;
}
.editor article.item.chosen>ul {
    background-color: #f3f2f1;
}
.editor article.item.chosen>ul:hover {
    background-color: #e1dfdd;
}

.editor article.item>ul>li:nth-child(2) {
    flex: auto;
}

.editor article.item>ul>li>p {
    color: #666;
}
.editor article.item>ul>li>p var {
    margin: 0 5px;
    color: blue;
}

.editor .container>.boundary>section>article.label,
.editor .container>section>article.label,
.editor .container>article.label {
    display: inline-block;
}

.editor .container>.boundary>section>article.label>ul,
.editor .container>section>article.label>ul,
.editor .container>article.label>ul {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background-color: #dbe9ff;
}
.editor .container>.boundary>section>article.label>ul:hover,
.editor .container>section>article.label>ul:hover,
.editor .container>article.label>ul:hover {
    background-color: #cce0ff;
}
.editor .container>.boundary>section.chosen>article.label>ul,
.editor .container.chosen>.boundary>section>article.label>ul,
.editor .container>section.chosen>article.label>ul,
.editor .container.chosen>section>article.label>ul,
.editor .container.chosen>article.label>ul {
    background-color: #b4d2ff;
}
.editor .container.loop>section>article.label>ul,
.editor .container.loop>article.label>ul {
    background-color: #cff6f9;
}
.editor .container.loop>section>article.label>ul:hover,
.editor .container.loop>article.label>ul:hover {
    background-color: #abeeec;
}
.editor .container.loop>section.chosen>article.label>ul,
.editor .container.loop.chosen>section>article.label>ul,
.editor .container.loop.chosen>article.label>ul {
    background-color: #73e3df;
}
.editor .container>.boundary>section>main,
.editor .container>section>main {
    border-left: 4px solid #dbe9ff;
}
.editor .container>.boundary>section.chosen>main,
.editor .container.chosen>.boundary>section>main,
.editor .container>section.chosen>main,
.editor .container.chosen>section>main {
    border-color: #b4d2ff;
}
.editor .container.loop>section>main {
    border-color: #cff6f9;
}
.editor .container.loop>section.chosen>main,
.editor .container.loop.chosen>section>main {
    border-color: #73e3df;
}

.editor .container article.label>ul h4,
.editor .container article.label>ul p {
    display: inline-block;
}

.editor .container section>article.label>ul {
    border-radius: 0 5px 5px 0;
}
.editor .container section.header>article.label>ul {
    border-radius: 5px 5px 5px 0;
}
.editor .container article.label:last-child>ul {
    border-radius: 0 5px 5px 5px;
}
