dialog {
    padding: 0;
    border: 1px solid #000;
    background-color: #eee;
    box-shadow: 3px 3px 6px black;
}
dialog:focus-visible {
    outline: none;
}
dialog h1 {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
    background-color: #fff;
}
dialog h1 i.font {
    float: right;
}
dialog section label {
    display: block;
    margin: 10px;
}
dialog section label>span {
    font-size: 14px;
    margin-right: 5px;
}
dialog section .buttons {
    margin: 10px;
    text-align: right;
}
dialog section .buttons>button {
    margin-right: 10px;
}
dialog section .buttons>button:last-child {
    margin-right: 0;
}
dialog.folder-selector section {
    background-color: #eee;
}
dialog.folder-selector section p {
    margin: 10px;
    font-size: 13px;
}
dialog section .folders {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #000;
    background-color: #fff;
    overflow-y: auto;
}
dialog section .folders h2 {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    font-weight: normal;
    cursor: default;
}
dialog section .folders h2 span {
    display: inline-block;
    text-align: right;
}
dialog section .folders ul {
    margin: 0;
    padding-left: 0;
}
dialog section .folders ul li {
    list-style-type: none;
}
dialog section .folders ul li:hover>h2 {
    background-color: #eee;
}
dialog section .folders ul li.choose>h2 {
    background-color: #ddd;
}
dialog section .folders i.font {
    margin-right: 3px;
    vertical-align: bottom;
}
dialog section .folders span i.font {
    color: #999;
}
dialog section .folders .expand>h2>span i.font {
    transform: rotate(90deg);
    display: inline-block;
}
dialog section .folders .i-computer {
    color: rgb(0, 116, 188);
}
dialog section .folders .i-desktop {
    color: rgb(0, 157, 255);
}
dialog section .folders .i-documents {
    color: #ffd900;
}
dialog section .folders .i-hard-driver {
    color: #667581;
}
dialog section .folders .i-folder {
    color: #ffd900;
}
dialog.folder-selector section .buttons button:first-child {
    float: left;
}

dialog.loading {
    box-shadow: 1px 1px 3px black;
}
dialog.loading p {
    margin: 10px;
}